<footer class="gh-footer{{#match @custom.header_and_footer_color "Accent color"}} has-accent-color{{/match}} gh-outer">
    <div class="gh-footer-inner gh-inner">

        <div class="gh-footer-bar">
            <span class="gh-footer-logo is-title">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    {{@site.title}}
                {{/if}}
            </span>
            <nav class="gh-footer-menu">
                {{navigation type="secondary"}}
            </nav>
            <div class="gh-footer-copyright">
                Copyright &copy; Commissariat of Information, Xeroist Republic of Zilatra
            </div>
        </div>

    </div>
</footer>